DIRECT_URL=
DATABASE_URL=

EXTENSION_ORIGIN=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

# PUSHER
app_id=
key=
secret=
cluster=

CALENDAR_WEBHOOK_URL=
WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=